.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed to viewport */
    z-index: 100; /* Sit on top */
    right: 0px; /* Distance from the right edge */
    top: 96px; /* Distance from the top edge */
    width: 100px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 1); /* White background */
    border: 1px solid #888;
    padding: 20px;
    border: round;
}

.button-container {
    display: flex; /* Use flexbox to stack buttons */
    flex-direction: column; /* Stack buttons vertically */
    margin-top: 25px; /* Space between close button and stacked buttons */
}

.modal-button {
    margin: 5px 0; /* Space between buttons */
    padding: 10px 20px;
    background-color: #145DA0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
}

.modal-button:hover {
    background-color: #0d4a7e;
}


.close-button {
    background: transparent; /* Make background transparent */
    border: none; /* Remove default button border */
    font-size: 18px; /* Adjust font size for smaller modal */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Position it in the corner */
    top: 5px; /* Adjust for smaller modal */
    right: 5px; /* Adjust for smaller modal */
    color: #aaa; /* Default color */
}