/* Media Queries */

/* Laptop Screen */

@media (min-width: 1440px) and (max-width: 2000px) {

    .wrapper-main {
        max-width: 80%;
    }

    /* Header Queries */
    .logo {
        display: flex;
        align-items: center;
    }
    
    .logo img {
        height: 6.25rem;
        margin-left: 1.25rem; 
    }

    .navbar {
        gap: 0rem;
    }

    .navbar a {
        font-size: 20px;
        width: 100px;
    }

    /*#login-show{
        margin-right:30px;
        width:75px;
        height: 50px;
        cursor: pointer;
    }
*/
    
    
    /* Hero Queries */

    .text-section {
        font-size: 1.5625rem;
    }

    .image-section {
        display: flex;
        width: 100%;
    }

    .image-section img {
        height: 40rem;
        margin-left: 3.125rem; 
    }
    
    .btn {
        padding: 0.9375rem 1.875rem; 
        margin-top: 1.25rem; 
        margin-right: 5.3125rem; 
    }

    /* Features Intro */
    .features-intro {
        font-size: 2.5rem; 
    }

    /* Surveillance Queries */
    .image-surveillance img {
        width: 37rem;
        height: 30rem;
        margin-left: 9rem;
    }

    .text-surveillance {
        height: 31.25rem; 
        width: 37rem; 
        max-width: 100%;
        margin-right: 9rem; 
        padding-right: 1.25rem; 
        margin-top: 1.25rem; 
        margin-bottom: 1.25rem; 
    }

    .text-surveillance img {
        padding-left: 1.5625rem; 
        height: 4.375rem; 
        width: 4.6875rem; 
    }
    
    .text-surveillance h1 {
        font-size: 3rem; 
        padding-left: 1.875rem; 
    }
    
    .text-surveillance p {
        font-size: 2.3rem; 
        padding-top: none;
        text-align: center;
    }

    /* Text Vehicle Tracking Queries */
    .image-vehicleTracking img {
        height: 30rem; 
        width: 37rem; 
        margin-right: 8.2rem; 
        padding-right: 1.875rem; 
    }

    .text-vehicleTracking {
        height: 31.25rem; 
        width: 37rem; 
        margin-left: 9rem; 
        margin-top: 1.25rem; 
        margin-bottom: 1.25rem;    
    }

    .text-vehicleTracking img {
        height: 6.25rem; 
        width: 6.25rem; 
    }

    .text-vehicleTracking h1 {
        font-size: 2.1875rem; 
    }
    
    .text-vehicleTracking p {
        font-size: 1.625rem; 
        padding-top: none;
        text-align: center;
        padding-right: 1.875rem; 
    }

    /* Easy Ping Queries */
    .image-ping img {
        height: 30rem; 
        width: 37rem; 
        margin-left: 2.25rem;
        padding-left: none;
    }

    .text-ping {
        height: 31.25rem; 
        width: 37rem; 
        max-width: 100%; 
        margin-right: 9rem; 
        padding-right: 1.25rem;
        margin-top: 0.625rem; 
        margin-bottom: 0.625rem; 
    }

    .text-ping img {
        height: 6.25rem; 
        width: 6.25rem; 
        margin-left: 1.25rem; 
    }

    .text-ping h1 {
        font-size: 2.5rem;
        padding-left: 1.875rem; 
    }
    
    .text-ping p {
        font-size: 1.625rem; 
        text-align: center;
        padding-left: 3.125rem; 
    }

    .features-gs-button {
        height: 1.25rem; 
        width: 4.6875rem; 
        font-size: 0.875rem; 
        margin-left: 1.25rem; 
    }

    /* Contact Page Queries */

    .contact-section {
        height: 46.875rem; 
    }

    .form-container {
        height: 37.5rem;         
        width: 43.75rem; 
        border-radius: 0.9375rem; 
        margin-top: 2rem; 
        padding: 1.875rem;
        align-items: center;
    }

    .form-container p {
        font-size: 1.5625rem; 
    }

    .contact-form label {
        font-size: 1.5625rem; 
    }
    
    .map-container {
       display: none;
    }

    /*Footer Queries */
    .footer {
        font-size: 1.25rem;
        background-color: black;
        opacity: 90%;
    }
}

/* LARGE DESKTOPS */
@media (min-width: 2001px) {
    
    .logo img {
        height: 8rem;
    }

    .navbar {
        gap: 3rem;
    }

    .navbar a {
        font-size: 2rem;
        width: 10rem;
    }

    /* Hero Queries */

    .text-section {
        font-size: 3rem;
    }

    .image-section img {
        height: 50rem;
        margin-left: 7rem;
    }

    /* Features Intro */

    .features-intro {
        font-size: 4rem;
    }

    /* Surveillance Queries */
    .image-surveillance img {
        height: 40rem; 
        width: 50rem;
        margin: 1rem;
        padding-left: 0rem;
        margin-left: 15rem;
    }

    .text-surveillance {
        height: 40rem; 
        width: 50rem; 
        max-width: 100%; 
        margin-right: 15rem; 
        margin-top: 1.25rem; 
        margin-bottom: 1.25rem; 
    }

    .text-surveillance img {
        padding-left: 1.5625rem; 
        height: 7rem; 
        width: 7rem; 
    }
    
    .text-surveillance h1 {
        font-size: 4rem; 
        padding-left: 1.875rem; 
    }
    
    .text-surveillance p {
        font-size: 2.6rem; 
        padding-top: none;
        text-align: center;
    }

    /* Text Vehicle Tracking Queries */
    .image-vehicleTracking img {
        height: 40rem; 
        width: 50rem; 
        margin-right: 15rem;
        margin-top: 1rem;
        margin-bottom: 1rem; 
        padding-right: 1.875rem; 
    }

    .text-vehicleTracking {
        height: 40rem; 
        width: 50rem; 
        max-width: 100%;
        margin-left: 15rem;   
    }

    .text-vehicleTracking img {
        height: 7rem; 
        width: 7rem; 
    }

    .text-vehicleTracking h1 {
        font-size: 3.2rem; 
    }
    
    .text-vehicleTracking p {
        font-size: 2.3rem; 
        padding-top: none;
        text-align: center;
        padding-right: 1.875rem; 
    }

    /* Easy Ping Queries */
    .image-ping img {
        height: 40rem; 
        width: 50rem;
        margin-left: 15rem; 
        padding-left: 0rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .text-ping {
        height: 40rem; 
        width: 50rem; 
        max-width: 100%;
        margin-right: 15rem; 
        margin-top: 1.25rem; 
        margin-bottom: 1.25rem; 
    }

    .text-ping img {
        height: 9rem; 
        width: 9rem; 
        margin-left: 1.25rem; 
    }

    .text-ping h1 {
        font-size: 3rem;
        padding-left: 1.875rem; 
        padding-top: 0rem;
    }
    
    .text-ping p {
        font-size: 2.4rem; 
        text-align: center;
        padding-left: 3.125rem; 
    }

    .features-gs-button {
        height: 1.25rem; 
        width: 2rem; 
        font-size: 0.875rem; 
        margin-left: 1.25rem; 
    }

    /* Contact Page Queries */

    .contact-section {
        height: 46.875rem; 
    }

    .form-container {
        height: 37.5rem;         
        width: 43.75rem; 
        border-radius: 0.9375rem; 
        margin-top: 1rem; 
        padding: 1.875rem;
        align-items: center;
    }

    .form-container p {
        font-size: 1.5625rem; 
    }

    .contact-form label {
        font-size: 1.5625rem; 
    }
    
    .map-container {
       display: none;
    }
    
    .features-gs-button {
        height: 4rem;
        width: 7rem;
        font-size: 1.5rem;
    }

}